*, ::after ::before{
  box-sizing: border-box;
}
#learnmore:focus {
 color: #131414;
 box-shadow: 5px 5px #43484b;
}
.card {
 width: 300px;
 color: #e2ebeb;
}

.card-flex{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
a,
a:focus,
a:hover {
  color: rgb(251, 246, 246);
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  
  
  background-color: rgb(199, 198, 198);
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: rgb(216, 212, 212);
}
body {
 
  text-align: center;
 
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  /*height: 100%; */
  /*min-height: 100%;*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

}
footer{
 color: #131414;
}

.carousel {
 padding-top: 75px;
}









